In [1]:
import numpy as np
import pandas as pd


data files downloaded from kaggle site should be in ./input.  yes, they are large files:

```-rw-r--r--@ 1 dcampbell  staff  1037267659 Aug 11 22:00 app_events.csv
-rw-r--r--@ 1 dcampbell  staff    11190003 Aug 11 22:00 app_labels.csv
-rw-r--r--@ 1 dcampbell  staff   195433779 Aug 11 22:00 events.csv
-rw-r--r--@ 1 dcampbell  staff     2284333 Aug 11 22:00 gender_age_test.csv
-rw-r--r--@ 1 dcampbell  staff     2366486 Aug 11 22:00 gender_age_train.csv
-rw-r--r--@ 1 dcampbell  staff       16450 Aug 11 22:00 label_categories.csv
-rw-r--r--@ 1 dcampbell  staff     6715635 Aug 11 22:00 phone_brand_device_model.csv
-rw-r--r--@ 1 dcampbell  staff    11698373 Aug 11 22:00 sample_submission.csv
```

let's start reading some of these tables and merging them to move towards a single table, for starters.
start with the big one.

In [5]:
# read in the app_events file
# set the data type of 'app_id' as object or it will assume it is a big-ass number, which it isn't, it's just a label
app_events = pd.read_csv('../input/app_events.csv', dtype={'app_id': object})

In [6]:
# read in the events table
# the table has headers in row 0, which is the default
events = events = pd.read_csv('../input/events.csv')

In [9]:
# let's just take a look at the structure and a few records
app_events.head(3)

   event_id                app_id  is_installed  is_active
0         2   5927333115845830913             1          1
1         2  -5720078949152207372             1          0
2         2  -1633887856876571208             1          0

In [10]:
# and the first few records of the events table
events.head(3)

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70

In [11]:
# let's merge the two on 'event_id'
# not doing it in-place may be a huge waste of memory, not sure
# the 'outer' will make records for app_events that don't have a matching event_id
event_02 = pd.merge(events, app_events, on='event_id', how='outer')

In [13]:
# and we'll look at the first and last records
event_02.head(3)

,event_id,device_id,timestamp,longitude,latitude,app_id,is_installed,is_active
0,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,NaN,NaN,NaN
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,5927333115845830913,1.0,1.0
2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,-5720078949152207372,1.0,0.0

In [14]:
event_02.tail(3)

,event_id,device_id,timestamp,longitude,latitude,app_id,is_installed,is_active
34237918,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,2306067392090419925,1.0,1.0
34237919,3252949,2786044170600788970,2016-05-07 23:36:03,111.19,31.29,NaN,NaN,NaN
34237920,3252950,3315513013457872370,2016-05-07 23:20:08,112.99,28.23,NaN,NaN,NaN

In [16]:
# ok, so something interesting already showing up - event records that don't have app_events.  hmmm.
# i wonder how many records in the test set don't have app_events?
# we'll be able to determine that pretty soon